# General dependencies
numpy
pandas
scikit-learn
scipy

# Natural Language Processing
nltk
sentence-transformers
transformers
spacy
sumy

# Concurrent and multiprocessing
concurrent-log-handler

# Knowledge graph and visualization
networkx
plotly

# Deep Learning
tensorflow
keras
torch

# Other utilities
requests
cryptography
psutil

# River for machine learning in production
river
